html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 50px;
}

.spacer {
  margin-left: 50px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page-title-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.page-title-card {
  width: 80%;
  padding: 16px;
}

.add-button-container {
  display: flex;
  justify-content: flex-end; 
  margin-bottom: 30px; 
}
