<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
        <mat-label>Subject</mat-label>
        <input matInput formControlName="subject" required/>
        @if(form.get('subject')?.invalid && form.get('subject')?.touched){
            <mat-error>
                Subject is required.
            </mat-error>
        } 
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Text</mat-label>
        <input matInput formControlName="text" required/>
        @if(form.get('text')?.invalid && form.get('text')?.touched){
            <mat-error>
                Text is required.
            </mat-error>
        }
    </mat-form-field>

    @if (error) {
        <div class="error-messages">
            <mat-error>{{error}}</mat-error>
        </div>        
    }

    <div class="dialog-actions">
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <span class="spacer"></span>
        <button mat-raised-button color="warn" (click)="onClose()">Cancel</button>
    </div>
    
    
</form>
    

