<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
        <mat-label>Subject</mat-label>
        <input matInput formControlName="subject" data-cy="subject" required/>
        @if(form.get('subject')?.invalid && form.get('subject')?.touched){
            <mat-error data-cy="err-subject">
                Subject is required.
            </mat-error>
        }    
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Text</mat-label>
        <input matInput formControlName="text" data-cy="text" required/>
        @if(form.get('text')?.invalid && form.get('text')?.touched){
            <mat-error data-cy="err-text">
                Text is required.
            </mat-error>
        }
    </mat-form-field>

    @if (error) {
        <div class="error-messages">
            <mat-error data-cy="err-form">{{error}}</mat-error>
        </div>        
    }

    <div class="dialog-actions">
        <button mat-raised-button color="primary" data-cy="btn-submit" type="submit" [disabled]="form.invalid">Submit</button>
        <span class="spacer"></span>
        <button mat-raised-button color="warn" data-cy="btn-cancel" type="button" (click)="onClose()">Cancel</button>
    </div>
    
    
</form>
    

